<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Recuperação de senha</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css' />
<!-- use the font -->
<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
}
</style>
</head>
<body style="margin: 0; padding: 0;">
	<table align="center" border="0" cellpadding="0" cellspacing="0"
		width="600" style="border-collapse: collapse;">
		<th:thead>
			<tr>
				<td bgcolor="#ffffff" style="padding: 20px 0; display: flex;">
					<h1 style="color: #f4a261; margin: 0">
						<img
							src="https://raw.githubusercontent.com/davidkalil10/PI_FarmaciaSocial_DigitalHouse/master/assets/logo.png"
							height="50px" style="vertical-align: middle;" /> Farmácia <b
							style="color: #2a9d8f">Social</b>
					</h1>

				</td>
			</tr>
		</th:thead>
		<th:tbody>

			<tr>
				<td bgcolor="#eaeaea" style="padding: 40px 30px 40px 30px;">
					<h3 th:text="${'Olá ' + usuario.name}"></h3>
					<p>
						Agora você pode resetar sua senha, acesse o link abaixo. <a
							th:href="${'http://farmaciasocial.devprod.ga/' + token}">Alterar
							minha senha.</a>
					</p>
					<p>Esse email é válido apenas por 1 hora. Após esse período,
						será necessário resetar novamente a senha pelo site</p>
					<p>Equipe Farmácia Social.</p>
				</td>
			</tr>
		</th:tbody>
		<th:tfoot>
			<tr>
				<td bgcolor="#81B0B7" style="padding: 30px 30px 30px 30px;">
					<p>http://farmaciasocial.devprod.ga/</p>
				</td>
			</tr>
		</th:tfoot>
	</table>
</body>
</html>